.container
	{height: 77px;}
.main-header
	{width: 100%;
	background-color: rgba( 36,47,53, 0.8);
	position: fixed;
	justify-content: space-between;}
.main-header .container
	{display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;}
img.elegant-logo
	{width: 190px;
	height: 40px;
	display: inline-block;}
.main-header .container nav li
	{display: inline-block;
	padding:0 15px;
	font-family: 'Source Sans Pro Bold',sans-serif;
	font-size: 15px;}
.main-header .container nav
	{position: fixed;
	right: 3%;}
.main-header .container nav li a
	{text-decoration: none;
	color: #ffffff;}
.main-header .container nav li a:hover 
	{color: #D4AF37; }
.banner-image img
	{width: 100%;}
.star-image img
	{position: absolute;
	width: 50%;
	top:20%;
	left:20%;
	bottom: auto;}
.portfolio-text
	{position: absolute;
	top:auto;
	left:10%;
	bottom: 15%;
	font-size: 70px;
	font-family: 'Open Sans light',sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;}
/**2 section**/
.who 
	{text-align: center;
  	padding: 5% 20%; }
.header
	{font-family: "Open Sans semibold", sans-serif;
	font-size: 13px;
    line-height: 33px;
    color: #D4AF37;}
.second-header
	{font-family: "Open Sans semibold", sans-serif;
	font-size: 44px;
    padding-top: 2%;
    line-height: 33px;
    color: #021725;}
.text 
	{font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding-top: 7%;
    line-height: 33px;
    color: #021725;}
.read-more
	{font-family: "Open Sans", sans-serif;
	font-size: 14px;
    padding: 2.5%;
    margin: 8%;
    border: 2px solid #021725;
    box-sizing: border-box;
	height: 55px;
	position: relative;
	text-align: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;}
.read-more:hover 
	{background-color: #D4AF37;
	border: 2px solid:#D4AF37;}
.read-more a
	{text-decoration: none;
	color: #021725;}
/**2 section**/
.what 
	{text-align: center;
  	padding: 5% 20%; }
.header
	{font-family: "Open Sans semibold", sans-serif;
	font-size: 13px;
    line-height: 33px;
    color: #D4AF37;}
.second-header
	{font-family: "Open Sans semibold", sans-serif;
	font-size: 44px;
    padding-top: 2%;
    line-height: 33px;
    color: #021725;}
.pictures
	{display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-ms-flex-wrap:wrap;
	flex-wrap: wrap;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	position: relative;}
.pictures-hover
	{display: block;}
.pictures-hover:hover 
	{position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    }
.a
	{margin: 0.2%;}
/**3 section**/	
.we
	{padding: 5% 20%;}
.center
	{text-align: center;}
.image-container
	{display: inline-block;
	display: flex;
	justify-content: space-between; 
	margin: 30px;}
.first
	{width:245px;
	min-height:425px;}
.first:hover
	{border: 2px solid #D4AF37;
	height:430px; }
.second
	{width:245px;
	min-height:425px;}
.second:hover
	{border: 2px solid #D4AF37;
	height:430px;}
.third
	{width:245px;
	min-height:425px;}
.third:hover
	{border: 2px solid #D4AF37;
	height:430px;}
.image-container .article-item
	{display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top:34px;
	width:245px; 
	height:230px;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;}
.image-container .article-item .article-text
	{width:100%;
	font-size:13px;
	font-family: "Open Sans semibold", sans-serif;
	padding: 20px;
	top:-5px;
	background-color: #F9F9F9;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color: #D4AF37;}
.article-header
	{width:100%;
	font-size:21px;
	font-family: "Open Sans regular", sans-serif;
	padding: 20px;
	position: relative;
	top:-5px;
	background-color: #F9F9F9;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	color: #021725;}
.long-text
	{width:100%;
	font-size:13px;
	font-family: "Open Sans light", sans-serif;
	padding: 20px;
	position: relative;
	top:-5px;
	background-color: #F9F9F9;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	color: #021725;}
/**4 section**/
.last 
	{padding: 5% 20%; }
.header
	{text-align: center;}
.second-head
	{font-family: "Open Sans semibold", sans-serif;
	font-size: 44px;
	text-align: center;
    padding-top: 2%;
    padding-bottom: 8%;
    line-height: 33px;
    color: #505D68;} 
.notebook
	{width:380px;
	height:390px;}
.september
	{color: #505D68;
	font-size: 13px;
	font-family: "Open Sans Regular", sans-serif;
	text-transform: uppercase;}
.change
	{color: #505D68;
	font-size: 30px;
	font-family: "Open Sans Regular", sans-serif;
	padding-top:22px;
	padding-bottom: 22px;}
.gray
	{width:100%;
	font-family: "Open Sans", sans-serif;
	width:385px; 
	height:390px;
	padding: 30px;
	top:-5px;
	background-color: #F9F9F9;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color: #505D68;}
.notebook-gray
	{display: inline-block;
	display: flex;}
.last-text
	{font-family: "Open Sans Light", sans-serif;
    font-size: 16px;
    padding-top: 7%;
    line-height: 23px;
    color: #505D68;}
.read
	{font-family: "Open Sans", sans-serif;
	text-decoration: none;
    font-size: 14px;
    text-align: center;
    border: 2px solid #021725;
	box-sizing: border-box;
	padding: 3.5%;
	margin-top: 45px;
	margin-right: 30%;
	height: 45px;
	width: 125px;}
.read:hover 
	{background-color: #D4AF37;}
.read a
	{text-decoration: none;
	color: #021725;}
/**5 section**/
.contact 
	{text-align: center;
  	padding: 5% 20%;}
.last-gray
	{width:100%;
	font-family: "Open Sans", sans-serif;
	width:770px; 
	height:415px;
	margin-left: 2.5%;
	margin-top: -3%;
	background-color: #F9F9F9;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color: #505D68;}
.location-fax
	{font-family: "Open Sans Semibold", sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #505D68;
    margin-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;}
.fax-location
	{font-family: "Open Sans Light", sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #505D68;
    padding-left: 100px;
	display: inline-block;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;}
.phone-email
	{font-family: "Open Sans Semibold", sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #505D68;
    margin-left: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;}
.email-phone
	{font-family: "Open Sans Light", sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #505D68;
    padding-right: 500px;
  	display: inline-block;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;}
/**footer**/
.end
	{background-color: #F0F0F0;}
.end h6 
	{display: inline-block;
	justify-content: space-between;
	display: flex;
	padding: 30px 300px;
	font-family: "Open Sans Light", sans-serif;
	font-size: 16px;}
.end h6 a 
	{text-decoration: none;
	color: #505D68;
	display: inline-block;}
/**burger**/
.main-header .burger
	{border: 1px solid blue;
	background-color: #242F35;
	display: none;}
.main-header .burger span
	{height: 2px;
	width: 20px;
	margin:5px;
	display: block;
	background-color: white;}
@media (max-width: 1124px) 
{.portfolio-text
	{font-size: 40px;
	position: absolute;
	top:auto;
	left:8%;
	bottom: 12%;}
.main-header .main-navigation
	{display: none;}
.main-header .burger
	{display: block;}
.pictures
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.image-container
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.notebook-gray
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.contact
	{flex-direction: column; 
	align-items: center;}}
@media (max-width: 910px)
{.portfolio-text
	{font-size: 30px;
	position: absolute;
	top:auto;
	left:6%;
	bottom: 9%;}
.pictures
	{flex-direction: column; 
	margin-top:2%;}
.image-container
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.notebook-gray
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.contact
	{flex-direction: column; 
	align-items: center;}}
@media (max-width: 710px)
{.pictures
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.image-container
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.notebook-gray
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.contact
	{flex-direction: column; 
	align-items: center;}}	
@media (max-width: 480px)
{.portfolio-text
	{font-size: 10px;
	position: absolute;
	top:auto;
	left:2%;
	bottom: 4%;}
.pictures
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.image-container
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.notebook-gray
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.contact
	{flex-direction: column; 
	align-items: center;}}