.container
	{padding-left: 2%;
	padding: 1% 0%;}
.main-header
	{width: 100%;
	background-color: rgba( 36,47,53, 0.8);
	z-index: 9999;
	position: fixed;
	justify-content: space-between;}
.main-header .container
	{display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;}
img.elegant-logo
	{width: 190px;
	height: 40px;
	display: inline-block;}
.main-header .container nav li
	{display: inline-block;
	padding:0 15px;
	font-family: 'Source Sans Pro Bold',sans-serif;
	font-size: 15px;}
.main-header .container nav
	{position: fixed;
	right: 0%;}
.main-header .container nav li a
	{text-decoration: none;
	color: #ffffff;}
.main-header .container nav li a:hover 
	{color: #D4AF37;
	-webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;}
.all-banner 
   {height: 100vh;
   	overflow: hidden;
   	background-image: url("../images/boy.jpeg");
   	background-position: center;
   	position: relative;
   	background-repeat: no-repeat;}
.banner-image img
	{width: 100%;}
.star-image img
	{position: absolute;
	width: 50%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);}
.portfolio-text
	{position: absolute;
    top: 50%;
    font-size: 70px;
    font-family: 'Open Sans light',sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;}
/**2 section**/
.who 
	{text-align: center;
  	padding: 5% 20%; }
.header
	{font-family: "Open Sans semibold", sans-serif;
	font-size: 13px;
    line-height: 33px;
    color: #D4AF37;}
.second-header
	{font-family: "Open Sans semibold", sans-serif;
	font-size: 44px;
    padding-top: 2%;
    line-height: 33px;
    color: #021725;}
.text 
	{font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding-top: 7%;
    line-height: 33px;
    color: #021725;}
.read-more
	{font-family: "Open Sans", sans-serif;
	font-size: 14px;
    padding: 12px 20px;
    margin-top: 8%;
    border: 2px solid #021725;
    box-sizing: border-box;
	display: inline-block;
	position: relative;
	text-align: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;}
.read-more:hover 
	{background-color: #D4AF37;
	border: 2px solid:#D4AF37;}
.read-more a
	{text-decoration: none;
	color: #021725;}
/**2 section**/
.what 
	{text-align: center;
  	padding: 5% 20%; }
.header
	{font-family: "Open Sans semibold", sans-serif;
	font-size: 13px;
    line-height: 33px;
    color: #D4AF37;}
.second-header
	{font-family: "Open Sans semibold", sans-serif;
	font-size: 44px;
    padding-top: 2%;
    line-height: 33px;
    color: #021725;}
.pictures,.subpictures
	{display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-ms-flex-wrap:wrap;
	flex-wrap: wrap;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	position: relative;
	width: 100%;}
.a
	{width: 100%;}
.pictures-item
	{display: inline-block;
	width: calc((100% - 12px) / 4) ;
	margin: 2px;
	position: relative;}
.pictures-item:hover .pictures-hover
	{display: block;}
.subpictures .margin-left
	{margin-left: 0px;}
.subpictures .margin-right
	{margin-right: 0px;}
.pictures-hover 
	{width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	display: none;}
/**3 section**/	
.we
	{padding: 5% 20%;}
.center
	{text-align: center;}
.image-container
	{display: inline-block;
	display: flex;
	justify-content: space-between; 
	margin: 30px;}
.first
	{width:245px;
	min-height:425px;
	box-sizing: border-box;
	-webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
	border: 2px solid transparent;
	overflow: hidden;}
.first:hover
	{border: 2px solid #D4AF37;
	height:430px;}

.image-container .article-item
	{display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top:0px;
	width:245px; 
	height:230px;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;}
.image-container .article-item .article-text
	{width:100%;
	font-size:13px;
	font-family: "Open Sans semibold", sans-serif;
	padding: 20px;
	top:-5px;
	background-color: #F9F9F9;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color: #D4AF37;}
.article-header
	{width:100%;
	font-size:21px;
	font-family: "Open Sans regular", sans-serif;
	padding: 20px;
	position: relative;
	top:-5px;
	background-color: #F9F9F9;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	color: #021725;}
.long-text
	{width:100%;
	font-size:13px;
	font-family: "Open Sans light", sans-serif;
	padding: 20px;
	position: relative;
	top:-5px;
	background-color: #F9F9F9;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	color: #021725;}
/**4 section**/
.last 
	{padding: 5% 20%; }
.header
	{text-align: center;}
.second-head
	{font-family: "Open Sans semibold", sans-serif;
	font-size: 44px;
	text-align: center;
    padding-top: 2%;
    padding-bottom: 8%;
    line-height: 33px;
    color: #505D68;} 
.notebook
	{width:50%;
	height:390px;}
.september
	{color: #505D68;
	font-size: 13px;
	font-family: "Open Sans Regular", sans-serif;
	text-transform: uppercase;}
.change
	{color: #505D68;
	font-size: 30px;
	font-family: "Open Sans Regular", sans-serif;
	padding-top:22px;
	padding-bottom: 22px;}
.gray
	{width:50%;
	font-family: "Open Sans", sans-serif;
	height:390px;
	padding: 30px;
	top:-5px;
	background-color: #F9F9F9;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color: #505D68;}
.notebook-gray
	{display: inline-block;
	display: flex;}
.last-text
	{font-family: "Open Sans Light", sans-serif;
    font-size: 16px;
    padding-top: 7%;
    line-height: 23px;
    color: #505D68;}
.read
	{font-family: "Open Sans", sans-serif;
	text-decoration: none;
    font-size: 14px;
    text-align: center;
    border: 2px solid #021725;
	box-sizing: border-box;
	padding: 12px 10px;
	margin-top: 45px;
	margin-right: 0%;
	width: 100px;}
.read:hover 
	{background-color: #D4AF37;}
.read a
	{text-decoration: none;
	color: #021725;}
.blog
	{font-family: "Open Sans", sans-serif;
	font-size: 14px;
    padding: 2% 2.5%;
    margin-top: 8%;
    border: 2px solid #021725;
    box-sizing: border-box;
	display: inline-block;
	position: relative;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;}
.blog:hover 
	{background-color: #D4AF37;
	border: 2px solid:#D4AF37;}
.blog a
	{text-decoration: none;
	color: #021725;}
/**5 section**/
.contact 
	{text-align: center;
  	padding: 5% 20%;}
.last-gray
	{width:100%;
	font-family: "Open Sans", sans-serif;
	background-color: #F9F9F9; 
	margin-top: -3%;
	padding: 7%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color: #505D68;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;}
.location
	{font-family: "Open Sans Semibold", sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #505D68;
    padding-bottom: 30px;
    display: inline-block;}
.location2
	{font-family: "Open Sans Light", sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #505D68;
	display: inline-block;}
.fax
	{font-family: "Open Sans Semibold", sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #505D68;
    padding-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    display: inline-block;}
.fax2
	{font-family: "Open Sans Light", sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #505D68;
    display: inline-block;}
.phone
	{font-family: "Open Sans Semibold", sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #505D68;
    padding-bottom: 30px;
    display: inline-block;}
.phone2
	{font-family: "Open Sans Light", sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #505D68;
    display: inline-block;}
.email
	{font-family: "Open Sans Semibold", sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #505D68;
    padding-top: 50px;
    padding-bottom: 30px;
    display: inline-block;}
.email2
	{font-family: "Open Sans Light", sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #505D68;
    display: inline-block;}
.location-phone
	{display: flex;
	justify-content: space-between;
	width: 100%;}
/**footer**/
.end
	{background-color: #F0F0F0;
	display: flex;
	justify-content: space-around;}
.designed
	{display: inline-block;}
.gmail
	{display: inline-block;}
.end h6 
	{padding: 30px;
	font-family: "Open Sans Light", sans-serif;
	font-size: 16px;}
.end h6 a 
	{text-decoration: none;
	color: #505D68;
	display: inline-block;}
/**burger**/
.main-header .burger
	{border: 1px solid blue;
	background-color: #242F35;
	display: none;}
.main-header .burger span
	{height: 2px;
	width: 20px;
	margin:5px;
	display: block;
	background-color: white;}	
/**media**/
@media (max-width: 1200px)
{.we
	{padding: 5% 5%;}}
@media (max-width: 1145px)
{.second-header
	{line-height: 45px;}
.image-container
	{justify-content: space-around;
	margin-top:2%;
	align-items: center;
	padding-right: 5%;
	padding-left: 5%;}}
@media (max-width: 1070px)
{.notebook-gray
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.portfolio-text
	{font-size: 60px;}}
@media (max-width: 910px)
{.portfolio-text
	{font-size: 50px;}
.pictures
	{flex-direction: column; 
	margin-top:2%;}
.image-container
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;
	padding-right: 20%;
	padding-left: 20%;}
.notebook
	{width:100%;
	height:390px;}
.notebook-gray
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.gray
	{padding: 5% 5%;
	margin-bottom: 5%;
	width:100%;
	height:390px;}
.contact
	{flex-direction: column; 
	align-items: center;}
.read-more
	{padding: 2% 2.5%;}
.blog
	{padding: 2% 2.5%;}
.read
	{padding: 3.5%;}}
@media (max-width: 820px)
{.portfolio-text
	{font-size: 40px;}
.location
	{font-size: 11px;}
.phone
	{font-size: 11px;}
.fax
	{font-size: 11px;}
.email
	{font-size: 11px;}
.location2
	{font-size: 14px;}
.phone2
	{font-size: 14px;}
.fax2
	{font-size: 14px;}
.email2
	{font-size: 14px;}

@keyframes checked-anim {
    50% {width: 100%;
        height: 100vh;}
    100% {width: 100%;
        height: 100vh;
        border-radius: 0;}}
@keyframes not-checked-anim {
    0% {width: 3000px;
        height: 3000px;}}
#trigger, #burger, #burger:before, #burger:after 
	{position: absolute;
    top: 25px;
    right: 25px;
    background: #03A9F4;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
    display: block!important;}
#trigger 
	{height: 25px;
    background: none;}
#burger:before 
	{content: " ";
    top: 10px;
    right: 0;}
#burger:after 
	{content: " ";
    top: 20px;
    right: 0;}
#menu-toggle:checked + #trigger + #burger 
	{top: 35px;
    transform: rotate(0deg);
    transition: transform .2s ease;}

#menu-toggle:checked + #trigger + #burger:before 
	{width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;}
#menu-toggle:checked + #trigger + #burger:after 
	{width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;}
.container nav 
	{display: none;}
#menu 
	{position: absolute;
    margin: 0; padding: 0;
    width: 110px;
    height: 110px;
    top: 0;
    background-color:rgba( 36,47,53, 0.8) ;
    border-bottom-left-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;}
#menu li, #menu a 
	{font-size: 20px;}
#menu li 	
	{text-align: right;
	padding: 20px 0px;
	padding-right: 20px;
	display: block;}
#menu ul
	{position: absolute;
	top: 35%;
	width:100%;
	transform: translateY(-50%);
	line-height: }
#menu-toggle:checked + #trigger + #burger + #menu 
	{animation: checked-anim 0.5s ease both;}
#menu-toggle:checked + #trigger ~ #menu > li, a 
	{display: block;}
#menu-toggle:checked + #trigger ~ #menu 
	{display: block;}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked 
	{display: none;}}
@media (max-width: 710px)
{.pictures
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.image-container
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;
	padding-right: 20%;
	padding-left: 20%;}
.portfolio-text
	{font-size: 40px;}
.notebook
	{width:100%;
	height:390px;}
.notebook-gray
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.gray
	{padding: 5% 5%;
	margin-bottom: 5%;
	width:100%;
	height:390px;}
.contact
	{flex-direction: column; 
	align-items: center;}
.end
	{flex-direction: column; }
.location
	{font-size: 9px;}
.phone
	{font-size: 9px;}
.fax
	{font-size: 9px;}
.email
	{font-size: 9px;}
.location2
	{font-size: 12px;}
.phone2
	{font-size: 12px;}
.fax2
	{font-size: 12px;}
.email2
	{font-size: 12px;}}
@media (max-width: 560px)
{.location-phone
	{flex-direction: column; 
	align-items: center;}
.second-head
	{line-height: 45px;}
.portfolio-text
	{font-size: 30px;}}	
@media (max-width: 480px)
{.portfolio-text
	{font-size: 20px;}
.pictures
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.image-container
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;
	padding-right: 20%;
	padding-left: 20%;}
.notebook-gray
	{flex-direction: column; 
	margin-top:2%;
	align-items: center;}
.contact
	{flex-direction: column; 
	align-items: center;}
.end
	{flex-direction: column;}
.location
	{font-size: 8px;}
.phone
	{font-size: 8px;}
.fax
	{font-size: 8px;}
.email
	{font-size: 8px;}
.location2
	{font-size: 11px;}
.phone2
	{font-size: 11px;}
.fax2
	{font-size: 11px;}
.email2
	{font-size: 11px;}}

/**burger**/
#trigger, #burger, #menu-toggle, #burger:before, #burger:after 
{display: none;}